<script src="/login.js"></script>
<script>

document.addEventListener('DOMContentLoaded', function() {
    const noCliqueables = document.querySelectorAll('.no_clic');

    // Verificar si hay algo en el localStorage
    const ls = localStorage.getItem('usuario');

    if (ls) {
        // Si hay algo en localStorage, eliminar la clase no_clic de los elementos
        noCliqueables.forEach(element => {
            element.classList.remove('no_clic');
        });
    } else {
        // Si no hay usuario en localStorage, agregar el comportamiento de redireccionamiento
        noCliqueables.forEach(element => {
            element.addEventListener('click', function(event) {
                event.preventDefault(); // Previene el comportamiento de clic por defecto (navegación a la URL)
                window.location.href = '/';
            });
        });
    }
});    
   </script> 
</body>
</html>