<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO DE INSCRIPCIONES</title>
    <link rel="stylesheet" href="/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

</head>
<script>
    let lst=localStorage.getItem('usuario');
</script>

<body>
    <header>
            <ul class="botones__header">
                <li class="li__item">

                    <a href="/">    
                    <span class="material-symbols-outlined">home</span>
                    HOME
                    </a>
                </li>

                <li class="li__item">    
                    <a href="/events" class="no_clic">
                    <span class="material-symbols-outlined">calendar_month</span>
                    EVENTOS
                </a>
            </li>
             

               
            <li class="li__item">
                <a href="/addEvents" class="new no_clic">
                    <span class="material-symbols-outlined">library_add</span>
                    AGREGAR EVENTO
                    </a>
                </li>
               
         
            
                <li class="li__item">
                    <a href="/list" class="no_clic">
                        <span class="material-symbols-outlined">patient_list</span>
                        PARTICIPANTES
                    </a>
                </li>
                <li class="li__item salir">
                </li>
                <script>
                    let ls=localStorage.getItem('usuario');
                    if (ls) { let barra=document.querySelector('.salir');
                    barra.innerHTML=`
                    <a href="/" class="salir">
                    <span class="material-symbols-outlined">power_settings_new</span>
                    
                        CERRAR SESION
                    </a>
                `;}
                </script>

            </ul>
        <div class="nav__text">    
        <h1><%= title %></h1>
        <script>
        //    let lst=localStorage.getItem('usuario');
            if (lst) {
                const h3 = document.createElement('h3');
                h3.textContent = `Hola ${lst}!`; //
                document.querySelector(".nav__text").appendChild(h3);}

                    </script>
           
        </div>
    </header>

