<div class="login__container">
    <div class="login">
        <h2>Iniciar sesi칩n</h2>
        <form id="loginForm" action="/login" method="post" enctype="application/x-www-form-urlencoded">
            <div class="input-container">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-container">
                <label for="password">Contrase침a:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Iniciar sesi칩n</button>
        </form>
    (Usuario y contrase침a: "prueba")
    </div>
</div>
