<div class="login__container">
    <div class="login">
        <h3 class="welcome">Bienvenido al orgnizador de eventos!</h3>
        <h3 class="welcome_text">Para empezar, podrás ver tus eventos haciendo clic en EVENTOS (<span class="material-symbols-outlined">calendar_month</span>), alli verás tu agenda.</h3>
        <h3 class="welcome_text">Si querés agregar un nuevo evento, deberas hacer clic en AGREGAR EVENTO, que tiene el siguiente icono: <span class="material-symbols-outlined">library_add</span>
            . </h3>
        <h3 class="welcome_text">Para finalizar, una vez agregado el evento, hace clic en PARTICIPANTES (<span class="material-symbols-outlined">patient_list</span>), cada evento agendado tiene un icono para agregar asistentes:  </h3>

    </div>
</div>
