<%- include('parcials/header')%>

<div class="body__container">
    <div class="login__container">
        <div class="login">
        <h2>CREAR EVENTO</h2>
        <form id="loginForm" action="/main/list" method="post" enctype="application/x-www-form-urlencoded">
            <div class="input-container">
                <label for="nombre_evento">NOMBRE:</label>
                <input type="text" id="nombre_evento" name="nombre" required>
            </div>
            <div class="input-container">
                <label for="tipo_evento">APELLIDO:</label>
                <input type="text" id="tipo_evento" name="apellido" required>
            </div>
            <div class="input-container">
                <label for="fecha_evento">CIUDAD:</label>
                <input type="text" id="tipo_evento" name="ciudad" required>
            </div>
            <input type="hidden" name="idEvento" value="<%= num %>">

            <button type="submit">Guardar cambios</button>
        </form>
</div>
</div>

</div>

<%- include('parcials/footer')%>

